@use "../../../../styles.scss";

.navbar_item {
  padding: 20px;
  .icon {
    font-size: 2.5rem;
    @extend .flex-center;
  }
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 75px;
  height: 100vh;
  background-color: rgb(var(--sq_blue));
  display: flex;
  flex-direction: column;
  .dashboard {
    @extend .navbar_item;
    margin-bottom: auto;
  }
  .flow_tree {
    @extend .navbar_item;
  }
}

.fixed_navbar_placeholder {
  width: 75px;
}
