@use "bootstrap";


.mat-accordion {
  .mat-expansion-panel {
    border: solid black;
    border-width: 5px 0 5px 5px;
    border-radius: 10px 0 0 10px!important;
    margin-left: 5px;
    box-shadow: none!important;
    background: none!important;
    .mat-expansion-panel-header {
      padding: 0;
      margin: 0;
      background: rgba(152, 196, 124, 0.5)!important;
      .mat-content {
        margin: 0;
      }
      border-radius: 0 0 10px 0;
      .flow_container_header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @extend .px-2;
      }
    }
    .mat-expansion-panel-body {
      padding: 0;
      .flow_container_footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @extend .px-2;
        background: rgba(128, 61, 73, 0.5);
        border-radius: 0 10px 0 0;
      }
      .no_event {
        min-height: 10px;
      }
      .event {
        @extend .py-1;
        .flow {
        }
      }
    }
    .flow_container_title_datetime {
      margin-left: 40px;
      margin-right: 10px;
    }
  }
}

.flow {
  display: block;
  width: 100%;
}

