
<div class="flow_container">
  <div>{{flow.node_name}}</div>
  <div>{{flow.start_time}}</div>
  <div
    *ngIf="flow.events.length === 0"
    class="no_event">
  </div>
  <div
    *ngFor="let event of flow.events"
    class="event">
    <app-flow
      *ngIf="isFlow(event)"
      [flow]="eventAsFlow(event)"
      class="flow">
    </app-flow>
    <app-interaction
      *ngIf="isInteraction(event)"
      [interaction]="eventAsInteraction(event)"
      class="interaction">
    </app-interaction>
   </div>
   <div>{{flow.end_time}}</div>
</div>
