@use "bootstrap";

.flow_container_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @extend .px-2;
}
.flow_container_content {
  .event {
    @extend .my-1;
    .flow {
      display: block;
      width: 100%;
    }
  }
  .no_event {
    min-height: 10px;
  }
}
.flow_container_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  @extend .px-2;
  background: rgba(128, 61, 73, 0.5);
  border-radius: 0 10px 0 0;
}
.flow_container_title_datetime {
  margin-left: 40px;
  margin-right: 10px;
}
