<mat-accordion class="flow__mat__accordion">
  <mat-expansion-panel class="flow__container" hideToggle>
    <mat-expansion-panel-header>
      <div class="flow__container__header">
        <div class="flow__container__title__text">
          {{flow.node_name}}
        </div>
        <div class="flow__container__title__datetime">
          {{getFormattedDateTime(flow.start_time)}}
        </div>
      </div>
    </mat-expansion-panel-header>
    <div class="flow__container__content">
      @for (event of flow.events; track $index) {
      <div
        class="event">
        @if (isFlow(event)) {
        <app-flow
          [flow]="eventAsFlow(event)"
          class="flow">
        </app-flow>
        }
        @if (isInteraction(event)) {
        <app-interaction
          [interaction]="eventAsInteraction(event)"
          class="interaction">
        </app-interaction>
        }
      </div>
      } @empty {
      <div class="no_event"></div>
      }
    </div>
    <div class="flow__container__footer">
      <div class="flow__container__title__text">
      </div>
      <div class="flow__container__title__datetime">
        {{getFormattedDateTime(flow.end_time)}}
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

