<mat-accordion #accordion class="flow__mat__accordion">
  <div class="container flow__container">
    <div class="container__header flex-center">
      <div class="container__header__title">
        {{interaction.operation_name}}
      </div>
      <div class="container__header__buttons flex-center">
        <div class="container__header__buttons__trigger">
          <button matButton="tonal" (click)="toggleInteractionContent(CONTENT_TYPE_ENUM.TRIGGER)">Trigger</button>
        </div>
        <div class="container__header__buttons__result">
          <button matButton="tonal" (click)="toggleInteractionContent(CONTENT_TYPE_ENUM.RESULT)" >Result</button>
        </div>
      </div>
    </div>
    <mat-expansion-panel #panel class="container__panel">
      <div class="container__panel__content">
        <div class="container__panel__content__header">
          {{getContentTime()}}
        </div>
        <div class="interaction__container__content__data">
          <pre class="interaction__container__content__data__json">{{getContentData()}}</pre>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>

