@use "../../../../styles.scss";


.flow__mat__accordion {
  .container {
    background: rgba(var(--sq_blue), 0.3)!important;
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 50px;
      padding: 0 1rem;
      border-radius: 0 10px 10px 0 !important;
      &__title {
        @extend .title;
      }
      &__buttons {
        display: flex;
        flex-direction: row;
        &__trigger {
          button {
            margin: 0 0.25rem;
          }
        }
      }
    }
    &__panel {
      box-shadow: none;
      border-radius: 0 0 0 5px;
    }
    .container__panel__content {
      max-width: 500px;
      padding: 1rem;
      &__header {
        @extend .flow__container__title__datetime;
      }
      &__data {
        &__json {
          margin-top: 0;
        }
      }
    }
  }
}
