.find_client_form {
  .title {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .search_clients_section {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    mat-form-field {
      padding-right: 10px;
    }
  }
  .client_list {
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    .client_button {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
  .session_list {
    padding-left: 20px;
    width: fit-content;
    min-width: 600px;
    .session {
      padding-bottom: 10px;
      app-session {
      }
    }
  }
}
