<div class="find_client_form">
  <div class="title">Find Client</div>
  <div class="search_clients_section">
    <mat-form-field>
      <mat-label>Search by</mat-label>
      <mat-select [(value)]="searchType">
        @for (s of searchTypes; track $index) {
          <mat-option [value]="s">{{s}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>{{searchType() + ' of the client'}}</mat-label>
      <input matInput [(ngModel)]="searchValue">
      <mat-icon matSuffix (click)="searchClient()">search</mat-icon>
    </mat-form-field>
    <div class="client_list">
      @for (client of clientList(); track $index) {
        <button class="client_button" matButton="tonal" (click)="selectClient(client)">{{client.name}}</button>
      }
    </div>
  </div>
  <div class="session_list">
    @for (session of sessionList(); track $index) {
      <div class="session">
        <app-session [session]="session"></app-session>
      </div>
    }
  </div>
</div>
