.find_client_form {
  .title {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .search_clients_section {
    padding-left: 20px;
    mat-form-field {
      padding-right: 10px;
    }
  }
  .session_list {
    padding-left: 20px;
  }
}
