.node_tree_layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  overflow-x: auto;
  overflow-y: hidden;
  .app_node_container {
    padding: 0 20px;
  }
}
