@use "../../../../styles.scss";

.container {
  border: 5px solid black;
  border-radius: 10px !important;
  min-width: 200px;
  &__header {
    flex-direction: row;
    justify-content: space-between;
    &__title {
      @extend .title;
    }
    &__sidebar {
      flex-direction: row;
      align-self: normal;
      &__edit {
        background-color: rgba(var(--sq_blue), 0.5);
      }
      &__delete {
        background-color:rgba(var(--sq_red), 0.5);
      }
      mat-icon {
        font-size: 18px;
        @extend .flex-center;
      }
    }
  }
  &__operation_list {
    border: solid black;
    border-width: 5px 0 0 0;
    padding-bottom: 5px;
    &__title {
      @extend .title;
    }
    &__content {
      &__operation {
        padding-left: 25px;
      }
    }
  }
  &__state_list {
    border: solid black;
    border-width: 5px 0 0 0;
    padding-bottom: 5px;
    &__title {
      @extend .title;
    }
    &__content {
      &__state {
        padding-left: 25px;
      }
    }
  }
  &__text__content {
    font-size: 1rem;
    font-weight: 500;
  }
}

.footer {
  &__expand_button {
    width: 25%;
    border-radius: 0 0 10px 10px;
    color: rgba(0, 0, 0, 0.25);
    .keyboard_arrow_down {
      font-size: 30px;
      color: inherit;
      cursor: default;
    }
    &:hover {
      color: rgba(0, 0, 0, 0.75);
    }
  }
}
