@use "../../../../styles.scss";

.p5 {
  padding: 5px;
}

.list {
  @extend .p5;
  .title {
    @extend .title;
  }
  .list {
    .el {
      padding-left: 25px;
    }
  }
}

.node_container {
  border: 5px solid black;
  border-radius: 10px;
  min-width: 200px;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(var(--sq_blue), 0.25);
    @extend .p5;
    .title {
      @extend .title;
    }
    .sidebar {
      display: flex;
      flex-direction: row;
      align-self: normal;
      mat-icon {
        font-size: 18px;
        @extend .flex-center;
      }
    }
  }
  .operation_list {
    @extend .list;
  }
  .state_list {
    @extend .list;
  }

  .border_between_content {
    border-bottom: 5px solid black;
  }
}

.footer {
  .expand_button {
    width: 25%;
    border-radius: 0 0 10px 10px;
    color: rgba(0, 0, 0, 0.25);
    .keyboard_arrow_down {
      font-size: 30px;
      color: inherit;
      cursor: default;
    }
    &:hover {
      color: rgba(0, 0, 0, 0.75);
    }
  }
}
