.node__container {
  &__content {
    display: block;
    width: fit-content;
    border: 5px solid black;
    border-radius: 10px !important;
    min-width: 200px;
    &__title__section {
      font-size: 1.4rem;
      font-weight: 500;
      &__container {
        justify-content: space-between;
        .node__title__sidebar {
          display: flex;
          align-self: normal;
          &__edit__node {
            background-color: var(--mat-button-tonal-container-color, var(--mat-sys-secondary-container));
          }
          &__delete__node {
            background-color:rgba(135, 22, 33, 0.5);
          }
          mat-icon {
            font-size: 18px;
            display: flex!important;
          }
        }
        .title {
          padding: 5px;
        }
      }
    }
    &__operation_list {
      border: solid black;
      border-width: 5px 0 0 0;
      padding: 5px;
      &__operation {
        padding-left: 25px;
      }
    }
    &__state_list {
      border: solid black;
      border-width: 5px 0 0 0;
      padding: 5px;
      &__state {
        padding-left: 25px;
      }
    }
    &__text__content {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.node__expand {
  &__child__nodes {
    &__button {
      border-radius: 0 0 10px 10px;
      width: 25%;
      color: rgba(0, 0, 0, 0.25);
      .keyboard_arrow_down {
        font-size: 30px;
        color: inherit;
        cursor: default;
      }
      &:hover {
        color: rgba(0, 0, 0, 0.75);
      }
    }
  }
}
