.node__container {
  display: block;
  width: fit-content;

  border: 5px solid black;
  border-radius: 10px !important;
  min-width: 200px;
  &__title {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 5px;
  }
  &__operation_list {
    border: solid black;
    border-width: 5px 0 0 0;
    padding: 5px;
    &__operation {
      padding-left: 25px;
    }
  }
  &__state_list {
    border: solid black;
    border-width: 5px 0 0 0;
    padding: 5px;
    &__state {
      padding-left: 25px;
    }
  }
  &__text__content {
    font-size: 1rem;
    font-weight: 500;
  }
}

.node__expand__child__nodes {
  &__button {
    border-radius: 0 0 10px 10px;
    width: 25%;
    color: rgba(0, 0, 0, 0.25);
    .keyboard_arrow_down {
      font-size: 30px;
      color: inherit;
      cursor: default;
    }
    &:hover {
      color: rgba(0, 0, 0, 0.75);
    }
  }
}
