<div class="node">
  <div class="content">
    <div class="header">
      <app-input
        #nodeName
        [value]="updatedNodeTemplate().name"
        [bold]="true"
        (valueEdit)="editName($event)"
      ></app-input>
      <div class="sidebar">
        <div class="separator"></div>
        <div class="delete_button flex-center" (click)="deleteNode()">
          <mat-icon class="flex-center">delete_outline</mat-icon>
        </div>
      </div>
    </div>
    <div class="border_between_content"></div>
    <div class="operation_list">
      <div class="list_header">
        <div class="title">
          Operations
        </div>
        <div class="add_button flex-center"
          (click)="addNewOperationRecord()">
          <mat-icon>add</mat-icon>
        </div>
      </div>
      <div class="list">
        @for (el of updatedNodeTemplate().operations; track $index) {
        <div class="el">
          <app-input
            #operation
            [value]="el.name"
            [isDeletable]="true"
            [isEditable]="false"
            (exitEditMode)="initDefineNewOperation($event, $index)"
            (editClick)="editOperation(el)"
            (deleteClick)="deleteOperation(el)"
          ></app-input>
        </div>
        }
      </div>
    </div>
    <div class="border_between_content"></div>
    <div class="state_list">
      <div class="list_header">
        <div class="title">
          States
        </div>
        <div class="add_button flex-center"
          (click)="addNewStateRecord()">
          <mat-icon>add</mat-icon>
        </div>
      </div>
      <div class="list">
        @for (el of updatedNodeTemplate().states; track $index) {
        <div class="el"
             [class]="isStateSelectable(el) ? 'selectable' : ''">
          <app-input
            #state
            [value]="el"
            [isDeletable]="true"
            [placeholder]="'Can\'t be empty'"
            [isSelectable]="isStateSelectable(el)"
            [isSelected]="isStateSelected($index)()"
            (exitEditMode)="editState($event, $index)"
            (deleteClick)="deleteState(el)"
            (selectClick)="clickedOnState(el)"
          ></app-input>
        </div>
        }
      </div>
    </div>
    <div class="border_between_content"></div>
    <div class="add_child_node_section">
      <button matButton (click)="initDefineNewNode()">
        Add child node
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  @if (updatedNodeTemplate().children && updatedNodeTemplate().children.length != 0) {
  <div class="footer flex-center">
    <div class="expand_button flex-center"
         (click)="expandButtonClicked()">
      <span class="keyboard_arrow_down material-symbols-outlined flex-center">
        keyboard_arrow_down
      </span>
    </div>
  </div>
  }
</div>
