@use "../../../../styles.scss";

.container {
  border: 5px solid black;
  border-radius: 10px !important;
  min-width: 200px;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(var(--sq_blue), 0.25);
    padding: 10px;
    &__title {
      @extend .title;
    }
    &__sidebar {
      display: flex;
      flex-direction: row;
      align-self: normal;
      mat-icon {
        font-size: 18px;
        @extend .flex-center;
      }
    }
  }
  &__list {
    border: solid black;
    border-width: 5px 0 0 0;
    padding-bottom: 5px;
    &__title {
      @extend .title;
    }
    &__content {
      &__el {
        padding-left: 25px;
      }
    }
  }
}

.footer {
  &__expand_button {
    width: 25%;
    border-radius: 0 0 10px 10px;
    color: rgba(0, 0, 0, 0.25);
    .keyboard_arrow_down {
      font-size: 30px;
      color: inherit;
      cursor: default;
    }
    &:hover {
      color: rgba(0, 0, 0, 0.75);
    }
  }
}
