@use "../../../../styles.scss";

.node_data_list {
  padding: 10px;
  .list_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .add_button {
      padding-right: 5px;
    }
  }
  .list {
    .el {
      display: flex;
      justify-content: space-between;
      margin: 5px 0 5px 0;
      .name {
        padding: 5px 0 5px 5px;
      }
      .sidebar {
        display: flex;
        flex-direction: row;
        align-self: normal;
        margin-left: 50px;
      }
    }
  }
}

.node {
  .content {
    border: 5px solid black;
    border-radius: 10px;
    min-width: 200px;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: rgba(var(--sq_blue), 0.25);
      .title {
        border: none;
        background: none;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: medium;
      }
      .edit_button {
        padding: 5px;
      }
      .sidebar {
        display: flex;
        flex-direction: row;
        align-self: normal;
        .separator {
          border-left: 5px solid black;
        }
        .delete_button {
          padding: 5px;
        }
        mat-icon {
          font-size: 18px;
          @extend .flex-center;
        }
      }
    }
    .operation_list {
      @extend .node_data_list;
    }
    .state_list {
      @extend .node_data_list;
      .el {
        position: relative;
        background: white;
      }
      .selectable {
        z-index: 1;
      }
    }
    .add_child_node_section {
      display: flex;
      flex-direction: row;
      justify-content: end;
    }
    .border_between_content {
      border-bottom: 5px solid black;
    }
  }
  .footer {
    .expand_button {
      width: 25%;
      border-radius: 0 0 10px 10px;
      color: rgba(0, 0, 0, 0.25);
      .keyboard_arrow_down {
        font-size: 30px;
        color: inherit;
        cursor: default;
      }
      &:hover {
        color: rgba(0, 0, 0, 0.75);
      }
    }
  }
}
