:host {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  .title {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
  }
  .edit_mode {
    background: rgba(0, 0, 0, 0.05);
  }
  .bold_title {
    font-size: medium;
    font-weight: 600;
  }
  .sidebar {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
}
