<div class="container">
  <input
    #name
    class="title"
    [class]="bold() ? 'bold_title' : ''"
    [class]="editMode() ? 'edit_mode' : ''"
    [disabled]="!editMode()"
    [(ngModel)]="currentValue"
    [placeholder]="isDirty() ? placeholder() : ''"
  >
  <div class="sidebar">
    @if (showEditButton()) {
    <div class="flex-center" (click)="_enterEditMode()">
      <mat-icon class="flex-center">mode_edit_outline</mat-icon>
    </div>
    }
    @if (showCompleteButton()) {
    <div class="flex-center" (click)="_exitEditMode(true)">
      <mat-icon class="flex-center">check</mat-icon>
    </div>
    }
    @if (showCancelButton()) {
    <div class="flex-center" (click)="_exitEditMode(false)">
      <mat-icon class="flex-center">close</mat-icon>
    </div>
    }
    @if (showDeleteButton()) {
    <div class="flex-center" (click)="_deleteClicked()">
      <mat-icon class="flex-center">delete_outline</mat-icon>
    </div>
    }
    @if (showSelectedRadioButton()) {
    <div class="flex-center" (click)="_selectClicked()">
      <mat-icon class="flex-center">radio_button_checked</mat-icon>
    </div>
    }
    @if (showUnselectedRadioButton()) {
    <div class="flex-center" (click)="_selectClicked()">
      <mat-icon class="flex-center">radio_button_unchecked</mat-icon>
    </div>
    }
  </div>
</div>
