<div class="node_tree">
  <mat-accordion [multi]="true">
    @for (layer of nodeTreeService.treePath(); track $index) {
    <mat-expansion-panel #layer [id]="'layer'+$index" [expanded]="$first">
      <div>
        <app-node-tree-layer
          [nodeList]="layer.nodeList"
          [layerIndex]="$index"
        ></app-node-tree-layer>
      </div>
    </mat-expansion-panel>
    }
  </mat-accordion>
  @if (nodeTreeService.operationToEdit()) {
  <div class="define_update_schema_section flex-center">
    <div class="backdrop"></div>
    <div class="dialog">
      <app-operation
        [operation]="nodeTreeService.operationToEdit()!"
      ></app-operation>
      <div class="buttons">
        <button matButton (click)="finalizeEditOperation(false)">Cancel</button>
        <button matButton (click)="finalizeEditOperation(true)">Save Operation</button>
      </div>
    </div>
  </div>
  }
</div>
