<mat-accordion #accordion class="flow__mat__accordion">

  <div class="header_area">
    <div class="title">
      {{interaction.operation_name}}
    </div>
    <div class="button_area">
      <div class="integration__container__header__buttons__trigger">
        <button matButton="tonal" (click)="toggleInteractionContent(CONTENT_TYPE_ENUM.TRIGGER)">Trigger</button>
      </div>
      <div class="integration__container__header__buttons__result">
        <button matButton="tonal" (click)="toggleInteractionContent(CONTENT_TYPE_ENUM.RESULT)" >Result</button>
      </div>
    </div>
  </div>
  <mat-expansion-panel #panel>
    <div class="interaction__container__content">
      @switch (contentType) {
        @case (CONTENT_TYPE_ENUM.TRIGGER) {
          <div class="interaction__container__content__trigger">
            trigger
          </div>
        }
        @case (CONTENT_TYPE_ENUM.RESULT) {
          <div class="interaction__container__content__result">
            result
          </div>
        }
        @default {

        }
      }
      <div class="flow__container__title__datetime">
        <!--{{getFormattedDateTime(interaction.trigger_time)}}-->
      </div>
      <div class="interaction_content_trigger_data_"></div>
      <!--<div class="interaction_content_trigger_data">-->
      <!--  <pre>{{getPrettyJSONString(interaction.trigger_data)}}</pre>-->
      <!--</div>-->
      <!--<div class="interaction_content_result_data">-->
      <!--  <pre>{{getPrettyJSONString(interaction.result_data)}}</pre>-->
      <!--</div>-->
    </div>
    <!--<div class="flow__container__footer">-->
    <!--  <div class="flow__container__title__text"></div>-->
    <!--  <div class="flow__container__title__datetime">-->
    <!--    &lt;!&ndash;{{getFormattedDateTime(interaction.result_time)}}&ndash;&gt;-->
    <!--  </div>-->
    <!--</div>-->


  </mat-expansion-panel>
</mat-accordion>

