@use "bootstrap";

.flow-mat-accordion {
  .mat-expansion-panel {
    border-width: 5px 5px 5px 0;
    border-radius: 0 10px 10px 0 !important;
    margin-left: 0;
    .mat-expansion-panel-header {
      padding: 0;
      height: 30px;
      background: rgba(32, 104, 200, 0.5)!important;
      border-radius: 0;
    }
  }
}


.interaction_container_content {
  display: flex;
  flex-direction: row;
  .interaction_content_trigger_data {
    width: 50%;
    max-width: 300px;
//    max-width may dysfunction???
    @extend .px-2;
  }
  .interaction_content_result_data {
    width: 50%;
    max-width: 300px;
//    max-width may dysfunction???
    @extend .px-2;
  }
}
