

.flow__mat__accordion {
  .flow__container {
    border-width: 0;
    border-radius: 0 10px 10px 0 !important;
    margin-left: 0;
    &__footer {
      background: rgba(32, 104, 200, 0.5)!important;
      border-radius: 0;
    }
    .mat-expansion-panel-header {
      padding: 0;
      background: rgba(32, 104, 200, 0.5)!important;
      border-radius: 0;
    }
  }
}

.header_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: rgba(32, 104, 200, 0.5)!important;
  padding: 0 1rem;
  border-radius: 0 10px 10px 0 !important;
  .title {
    font-weight: var(--mat-sys-title-medium-weight);
  }
  .button_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.integration__container__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__buttons {
    display: flex;
    flex-direction: row;
    &__trigger{
      button {
        margin: 0 0.25rem;
      }
    }
    &__trigger{

    }
  }
}

.interaction_container_content {
  display: flex;
  flex-direction: row;
  .interaction_content_trigger_data {
    width: 50%;
    max-width: 300px;
//    max-width may dysfunction???
    padding: 0 0.25rem;
  }
  .interaction_content_result_data {
    width: 50%;
    max-width: 300px;
//    max-width may dysfunction???
    padding: 0 0.25rem;
  }
}
