<!--<div class="dialog_wrapper">-->
<!--  <mat-dialog-content>-->
<!--    @if (!nodeManagementService.MODE.defineOperationUpdateSchema()) {-->
<!--    <div class="container">-->
<!--      <div class="container__header flex-center">-->
<!--        <input-->
<!--          class="container__header__title"-->
<!--          #nodeName-->
<!--          [readonly]="!(nodeManagementService.MODE.editName())"-->
<!--          [value]="nodeManagementService.node()!.name">-->
<!--        <div class="container__header__sidebar">-->
<!--          <div class="container__header__sidebar__edit flex-center">-->
<!--            <mat-icon class="flex-center">mode_edit_outline</mat-icon>-->
<!--          </div>-->
<!--          <div class="container__header__sidebar__delete flex-center">-->
<!--            <mat-icon class="flex-center">delete_outline</mat-icon>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;<mat-form-field class="container__header__name">&ndash;&gt;-->
<!--        &lt;!&ndash;  <mat-label>Name</mat-label>&ndash;&gt;-->
<!--        &lt;!&ndash;  <input matInput #nodeName [readonly]="!(nodeManagementService.MODE.editName())" [value]="nodeManagementService.node()!.name">&ndash;&gt;-->
<!--        &lt;!&ndash;  &lt;!&ndash; FAILED TO MERGE THESE IF BLOCKS &ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;  @if (!nodeManagementService.MODE.editName()) {&ndash;&gt;-->
<!--        &lt;!&ndash;  <mat-icon matSuffix (click)="enterEditNameMode()">mode_edit</mat-icon>&ndash;&gt;-->
<!--        &lt;!&ndash;  }&ndash;&gt;-->
<!--        &lt;!&ndash;  @if (nodeManagementService.MODE.editName()) {&ndash;&gt;-->
<!--        &lt;!&ndash;  <mat-icon matSuffix (click)="finalizeEditName(true, nodeName)">check</mat-icon>&ndash;&gt;-->
<!--        &lt;!&ndash;  }&ndash;&gt;-->
<!--        &lt;!&ndash;  @if (nodeManagementService.MODE.editName()) {&ndash;&gt;-->
<!--        &lt;!&ndash;  <mat-icon matSuffix (click)="finalizeEditName(false, '')">close</mat-icon>&ndash;&gt;-->
<!--        &lt;!&ndash;  }&ndash;&gt;-->
<!--        &lt;!&ndash;</mat-form-field>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="container__list">-->
<!--        <div class="container__list__header">-->
<!--          <div class="container__list__header__title">-->
<!--            Operations-->
<!--          </div>-->
<!--          <div class="container__list__header__add_button flex-center">-->
<!--            <mat-icon (click)="enterAddOperationMode()">add</mat-icon>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="container__list__content">-->
<!--          @for (el of nodeManagementService.node()!.operation_list; track $index) {-->
<!--          <div class="container__list__content__el">-->
<!--            <div class="container__list__content__el__name">-->
<!--              {{el.name}}-->
<!--            </div>-->
<!--            <div class="container__list__content__el__sidebar">-->
<!--              <div class="container__list__content__el__sidebar__edit_button flex-center">-->
<!--                <mat-icon (click)="removeOperation($index)">mode_edit_outline</mat-icon>-->
<!--              </div>-->
<!--              <div class="container__list__content__el__sidebar__remove_button flex-center">-->
<!--                <mat-icon (click)="removeOperation($index)">delete_outline</mat-icon>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          }-->
<!--          @if (nodeManagementService.MODE.addOperation()) {-->
<!--          <div class="container__list__content__el add_operation">-->
<!--            <mat-form-field class="add_state__input">-->
<!--              <mat-label>Operation Name</mat-label>-->
<!--              <input matInput #newOperation>-->
<!--              <mat-icon matSuffix (click)="operationNameFinalized(newOperation)">check</mat-icon>-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--          }-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container__list">-->
<!--        <div class="container__list__header">-->
<!--          <div class="container__list__header__title">-->
<!--            States-->
<!--          </div>-->
<!--          <div class="container__list__header__add_button flex-center">-->
<!--            <mat-icon (click)="enterAddStateMode()">add</mat-icon>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="container__list__content">-->
<!--          @for (el of nodeManagementService.node()!.state_list; track $index) {-->
<!--          <div class="container__list__content__el">-->
<!--            <div class="container__list__content__el__name">-->
<!--              {{el}}-->
<!--            </div>-->
<!--            <div class="container__list__content__el__sidebar">-->
<!--              <div class="container__list__content__el__sidebar__edit_button flex-center">-->
<!--                <mat-icon (click)="removeState($index)">mode_edit_outline</mat-icon>-->
<!--              </div>-->
<!--              <div class="container__list__content__el__sidebar__remove_button flex-center">-->
<!--                <mat-icon (click)="removeState($index)">delete_outline</mat-icon>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          }-->
<!--          @if (nodeManagementService.MODE.addState()) {-->
<!--          <div class="container__list__content__el add_state">-->
<!--            <mat-form-field class="add_state__input">-->
<!--              <mat-label>State Name</mat-label>-->
<!--              <input matInput #newState>-->
<!--              <mat-icon matSuffix (click)="addState(newState)">check</mat-icon>-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--          }-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    } @else {-->
<!--    <app-operation-->
<!--      [operation]="nodeManagementService.operation()!"-->
<!--      (saveOperation)="saveOperation($event)"-->
<!--    ></app-operation>-->
<!--    }-->
<!--  </mat-dialog-content>-->
<!--  @if (!nodeManagementService.MODE.defineOperationUpdateSchema()) {-->
<!--  <mat-dialog-actions align="end">-->
<!--    <button matButton mat-dialog-close (click)="finalizeEditNode(false)">Cancel</button>-->
<!--    <button matButton mat-dialog-close (click)="finalizeEditNode(true)">Save Node</button>-->
<!--  </mat-dialog-actions>-->
<!--  }-->
<!--</div>-->

